.alert-message {
  margin-bottom: 5px;
  cursor: pointer;
}

h1 {
  word-wrap: break-word;
}

h1 small {
  display: block;
  font-size: 12px;
}
h1 span {
  color: #CCC;
}

.seperator {
  display: inline-block;
  border-right: solid 1px #FFF;
  margin:0 20px;
  opacity: 0.4;
}

.overview ul {
  margin-left: 15px;
}

.overview li {
  line-height: 22px;
}

.overview span {
  font-weight: bold;
  display: inline-block;
  width: 200px;
}

.exceptiondetails {
  border: 1px solid #E4C652;
  background: #EEDC94;
  padding: 10px;
  margin-right: 18px;
}

.subdetails {
  display:none;
}

.detailselement {
  margin-left: 10px;
}
.chain-visualizer {
  list-style: none;
}

.chain-visualizer li {
  text-align: center;
}

.chain-visualizer li a {
  cursor: default;
}